extends template
block body
  .container-fluid(style="margin-top: 20px;")
    ul.list-group
      li.list-group-item.text-center#buffer
        .row
          .col-md-6.text-center
            a.mdl-badge.btn.btn-info(href=rootPath + "buffer", target="_blank", data-badge=bufferLength, style="width:100%") Buffer length
      li.list-group-item.text-center#pending
        .row
          .col-md-6
            a.mdl-badge.btn.btn-warning(href=rootPath + "pending", data-badge=pending, style="width:100%") pending requests
          .col-md-6
            .progress(style="margin-top: 5px")
              .progress-bar.progress-bar-warning.progress-bar-striped.active(role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: " + 100 - (pending * 100 / bufferLength) + "%;")
                span #{100 - (pending  * 100 / bufferLength)} %
      li.list-group-item.text-center#set
        .row
          .col-md-6
            a.mdl-badge.btn.btn-success(href=rootPath + "set", data-badge=set, style="width:100%") succeed requests
          .col-md-6
            .progress(style="margin-top: 5px")
              .progress-bar.progress-bar-success(role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: " + set * 100 / bufferLength + "%;")
                span #{set * 100 / bufferLength} %
      li.list-group-item.text-center#failed
        .row
          .col-md-6
            a.mdl-badge.btn.btn-danger(href=rootPath + "failed", data-badge=failed, style="width:100%") failed requests
          .col-md-6
            .progress(style="margin-top: 5px")
              .progress-bar.progress-bar-danger(role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: " + failed * 100 / bufferLength + "%;")
                span #{failed * 100 / bufferLength} %
  script.
    var refresh_time = #{refresh_time}
  script
    :coffee-script
      rootPath = $("#root-collect-online").attr("href")
      decode = (response) -> 
        $("#buffer .mdl-badge").attr({'data-badge': response.bufferLength})
        $("#pending .mdl-badge").attr({'data-badge': response.pending})
        $("#set .mdl-badge").attr({'data-badge': response.set})
        $("#failed .mdl-badge").attr({'data-badge': response.failed})
        
        $("#pending .progress-bar span").text(100 - (response.pending * 100 / response.bufferLength) + " %")
        $("#set .progress-bar span").text(response.set * 100 / response.bufferLength + " %")
        $("#failed .progress-bar span").text(response.failed * 100 / response.bufferLength + " %")
        
        $("#pending .progress-bar").css
          width: 100 - (response.pending * 100 / response.bufferLength) + "%"
        $("#set .progress-bar").css 
          width: response.set * 100 / response.bufferLength + "%"
        $("#failed .progress-bar").css
          width: response.failed * 100 / response.bufferLength + "%"
        
        $("#pending .progress").toggle(response.pending != 0)
        $("#set .progress").toggle(response.set != 0)
        $("#failed .progress").toggle(response.failed != 0)
      $ ->
        auto_refresh = $("#auto-refresh").hasClass("active")
        $('#auto-refresh').click ->
          $(this).toggleClass("active")
          auto_refresh = !auto_refresh
          if auto_refresh
            refresh()
        callback = (response) -> 
          decode(response)
          if auto_refresh
            setTimeout(refresh, refresh_time)
        refresh = () -> 
          $.get rootPath + "api/status", callback
        if auto_refresh
          refresh()
