extends template
block body
  .row(style="margin-top: 50px;")
    ul.list-group
      li.list-group-item.text-center#buffer
        .row
          .col.s3.text-center
            a.btn.blue(href="/buffer", style="width:100%") All requests
          .col.s1.text-center
            span.chip= bufferLength
          .col.s1.offset-s7.pull-right
            a(href="/purge?type=all")
              i.material-icons delete
      li.list-group-item.text-center#pending
        .row
          .col.s3
            a.btn.orange(href="/buffer/status/pending", style="width:100%") pending requests
          .col.s1.text-center
            .chip= pending
          .col.s7
            .progress.orange.lighten-5(style="margin-top: 16px")
              .determinate.orange(role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: " + 100 - (pending * 100 / bufferLength) + "%;")
              span #{100 - (pending  * 100 / bufferLength)} %
          .col.s1
            a(href="/purge?type=pending")
              i.material-icons delete
      li.list-group-item.text-center#set
        .row
          .col.s3
            a.btn(href="/buffer/status/set", style="width:100%") succeed requests
          .col.s1.text-center
            .chip= set
          .col.s7
            .progress.green.lighten-5(style="margin-top: 16px")
              .determinate(role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: " + set * 100 / bufferLength + "%;")
              span #{set * 100 / bufferLength} %
          .col.s1
            a(href="/purge?type=done")
              i.material-icons delete
      li.list-group-item.text-center#failed
        .row
          .col.s3
            a.btn.red(href="/buffer/status/failed", style="width:100%") failed requests
          .col.s1.text-center
            .chip= failed
          .col.s7
            .progress.red.lighten-5(style="margin-top: 16px")
              .determinate.red(role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: " + failed * 100 / bufferLength + "%;")
              span #{failed * 100 / bufferLength} %
          .col.s1
            a(href="/purge?type=failed")
              i.material-icons delete
    if pending != 0
      .row#pending-message
        .col.s4.text-center.offset-s4
          h4 Some requests are running
          .preloader-wrapper.big.active
            .spinner-layer.spinner-blue
              .circle-clipper.left
                .circle
              .gap-patch
                .circle
              .circle-clipper.right
                .circle
            .spinner-layer.spinner-red
              .circle-clipper.left
                .circle
              .gap-patch
                .circle
              .circle-clipper.right
                .circle
            .spinner-layer.spinner-yellow
              .circle-clipper.left
                .circle
              .gap-patch
                .circle
              .circle-clipper.right
                .circle
            .spinner-layer.spinner-green
              .circle-clipper.left
                .circle
              .gap-patch
                .circle
              .circle-clipper.right
                .circle
  script.
    var refresh_time = #{refresh_time}
  script
    :coffee-script
      rootPath = $("#root-straw-manager").attr("href")
      decode = (response) -> 
        $("#buffer .chip").text(response.bufferLength)
        $("#pending .chip").text(response.pending)
        $("#set .chip").text(response.set)
        $("#failed .chip").text(response.failed)
        
        if (response.pending > 0)
          $("#pending .progress span").text(100 - (response.pending * 100 / response.bufferLength) + " %")
          $("#pending .determinate").css
            width: 100 - (response.pending * 100 / response.bufferLength) + "%"
          $("#pending-message").show()
        else
          $("#pending .progress span").text("")
          $("#pending .determinate").css
            width: "0px"
          $("#pending-message").hide()

        if (response.set > 0)
          $("#set .progress span").text(response.set * 100 / response.bufferLength + " %")
          $("#set .determinate").css 
            width: response.set * 100 / response.bufferLength + "%"
        else
          $("#set .progress span").text("")
          $("#set .determinate").css
            width: "0px"

        if (response.failed > 0)
          $("#failed .progress span").text(response.failed * 100 / response.bufferLength + " %")
          $("#failed .determinate").css
            width: response.failed * 100 / response.bufferLength + "%"
        else
          $("#failed .progress span").text("")
          $("#failed .determinate").css
            width: "0px"
        
        $("#pending #pending-message").toggle(response.pending != 0)

      $ ->
        auto_refresh = $("#auto-refresh").hasClass("active")
        $('#auto-refresh').click ->
          $(this).toggleClass("active")
          auto_refresh = !auto_refresh
          if auto_refresh
            refresh()
        callback = (response) -> 
          decode(response)
          if auto_refresh
            setTimeout(refresh, refresh_time)
        refresh = () -> 
          $.get  "api/status", callback
        if auto_refresh
          refresh()
