extends template
block body
  .container-fluid(style="margin-top: 20px;")
    ul.list-group
      li.list-group-item.text-center#buffer
        a.btn.btn-info(href="/buffer", target="_blank") Buffer length
        span.badge= bufferLength
      li.list-group-item.text-center#pending
        a.btn.btn-warning(href="/buffer") pending requests
        span.badge= pending
        .progress(style="margin-top: 5px")
          .progress-bar.progress-bar-striped.active(role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: " + 100 - (pending * 100 / bufferLength) + "%;")
            span #{100 - (pending  * 100 / bufferLength)} %
      li.list-group-item.text-center#set
        a.btn.btn-info(href="/buffer") succeed requests
        span.badge= set
        .progress(style="margin-top: 5px")
          .progress-bar(role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: " + set * 100 / bufferLength + "%;")
            span #{set * 100 / bufferLength} %
      li.list-group-item.text-center#failed
        a.btn.btn-danger(href="/buffer") failed requests
        span.badge= failed
        .progress(style="margin-top: 5px")
          .progress-bar(role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="width: " + failed * 100 / bufferLength + "%;")
            span #{failed * 100 / bufferLength} %
  script
    :coffee-script
      refresh_time = 250
      decode = (response) -> 
        $("#buffer .badge").text(response.bufferLength)
        $("#pending .badge").text(response.pending)
        $("#set .badge").text(response.set)
        $("#failed .badge").text(response.failed)
        
        $("#pending .progress-bar span").text(100 - (response.pending * 100 / response.bufferLength) + " %")
        $("#set .progress-bar span").text(response.set * 100 / response.bufferLength + " %")
        $("#failed .progress-bar span").text(response.failed * 100 / response.bufferLength + " %")
        
        $("#pending .progress-bar").css
          width: 100 - (response.pending * 100 / response.bufferLength) + "%"
        $("#set .progress-bar").css 
          width: response.set * 100 / response.bufferLength + "%"
        $("#failed .progress-bar").css
          width: response.failed * 100 / response.bufferLength + "%"
        
        $("#pending .progress").toggle(response.pending != 0)
        $("#set .progress").toggle(response.set != 0)
        $("#failed .progress").toggle(response.failed != 0)
      $ ->
        auto_refresh = $("#auto-refresh").hasClass("active")
        $('#auto-refresh').click ->
          $(this).toggleClass("active")
          auto_refresh = !auto_refresh
          if auto_refresh
            refresh()
        callback = (response) -> 
          decode(response)
          if auto_refresh
            setTimeout(refresh, refresh_time)
        refresh = () -> 
          $.get "/api/status", callback
        if auto_refresh
          refresh()
