extends template

block body
  if !request
    .page-header
      h1 Request is invalid
  else
    .page-header.request-view(id="request-" + request.requestID, data-id=request.requestID)
      h1 Request: #{request.requestID}
        span.badge #{request.status}
    if request.data.libelles
      .col-xs-12.col-md-12.request
        a(href=request.url)= request.data.libelles.join("\t")
    .col-xs-12.col-md-12.request
      a(href=request.url)= request.url
      .row
        .col-xs-6.col-md-4 Magasins aspirés
        if request.stores && request.aspired_stores
          .col-xs-6.col-md-4
            span= JSON.stringify(request.aspired_stores.length) + '/' + JSON.stringify(request.stores.length)
            if request.not_found_in_stores
              span= '(Not in: ' + JSON.stringify(request.not_found_in_stores.length) + ')'
        else
          .col-xs-6.col-md-4 all
      if request.error
        .row
          .col-xs-12.col-md-12
            .alert.alert-danger Error caught
              pre.well
                p= JSON.stringify(request.error, null, 4)
      .row
        ul.list-group#datas
          each val, index in request.data
            li.list-group-item.row
              .col-xs-6.col-md-4= index
              .col-xs-6.col-md-4= val
      
      if request.stores_detail
        .row
          ul.list-group
            li.list-group-item.row
              .col-xs-6.col-md-4 Aspired stores:
              .col-xs-6.col-md-4= JSON.stringify(Object.keys(request.stores_detail).length)
        ul.list-group#stores-datas
          li.list-group-item.row.active(style='position: sticky; top: 0;')
            .col-xs-6.col-md-4.text-center Magasin
            .col-xs-6.col-md-4.text-center Prix
            .col-xs-6.col-md-4.text-center Promo
          if request.stores_detail
            each store_detail, storeid in request.stores_detail
              if store_detail
                li.list-group-item.row
                  .col-xs-6.col-md-4
                    if store_detail.url
                      a(href=store_detail.url)= store_detail.magasin.id + ' -> ' + store_detail.magasin.name 
                    else
                      #{storeid}
                  .col-xs-6.col-md-4= store_detail.prix
                  .col-xs-6.col-md-4= store_detail.promo
              else
                .message= store_detail
            else
              .message no detail mag
    script.
      var refresh_time = #{refresh_time}
    script
      :coffee-script
        rootPath = $("#root-collect-online").attr("href")
        decode = (request) ->
          $("#request-" + request.requestID + " span.badge").text(request.status)
          $("#datas").empty()
          if request.error
            if ($(".alert.alert-danger").length == 0)
              $('.request').append($('<div>', {
                "class": "col-xs-12 col-md-12"
              }).append($("<div>", {
                "class": "alert alert-danger"
              }).text("Error caught").append($("<pre>", {
                "class": "well"
              }))))
            $(".request .alert.alert-danger .well").text(JSON.stringify request.error, null, 4)
          for data, value of request.data
            obj = $("<li>", {
              class: "list-group-item row" 
            })
            obj.append($("<div>", {
              class: "col-xs-6 col-md-4"
            }).text(data))
            obj.append($("<div>", {
              class: "col-xs-6 col-md-4"
            }).text(value))
            $("#datas").append(obj)
            
          if (request.status != "pending")
            $("#auto-refresh").removeClass("active")
        $ ->
          $('#auto-refresh').click ->
            $(this).toggleClass("active")
            refresh()
          callback = (response) -> 
            decode(response)
            auto_refresh = $("#auto-refresh").hasClass("active")
            if auto_refresh
              setTimeout(refresh, refresh_time)
          refresh = () -> 
            $.get rootPath + "api/request/" + $(".request-view").data('id'), callback
          refresh()
