extends template

block body
  style.
    body {
      background-color: #616161;
    }
  .row(style='margin: auto; width: 80%;')
    form.col.s12.m6.offset-s3.offset-m3(method='post')
      .card
        .card-content
          .card-title
            i.material-icons get_app
            span Aspire a site
          .row
            form.col.s12(method='post', style='text-align: center;')
              .row
                .col.s12
                  h4 Site options
              .row
                .input-field.col.s12
                  input(type="text", id="url", name="url")
                  label(for='url') URL
              .row
                .col.s4
                  label
                    input(type="checkbox", id="only-children", name="only-children", checked="checked")
                    span Only children
                .col.s4
                  label
                    input(type="checkbox", id="only-one-page", name="only-one-page", checked="checked")
                    span Only one page
                .col.s4
                  label
                    input(type="checkbox", id="keep-errors-only", name="keep-errors-only", checked="checked")
                    span Keep errors only
              .row
                .input-field.col.s12
                  input(type="text", id="regxp-validation", name="regxp-validation")
                  label(for="regxp-validation") Regxp Validation
              .row
                .col.s4(style="margin-top: 25px;")
                  label
                    input(type="checkbox", id="change-wait", name="change-wait")
                    span Change default value (#{config.wait})
                .col.s8
                  .input-field
                    input(type="number", id="wait", name="wait", value="500")
                    label(for="wait") Wait between requests (milliseconds)
              .row
                .col.s4(style="margin-top: 25px;")
                  label
                    input(type="checkbox", id="countlines", name="countlines")
                    span Count lines (may be slow)
                .col.s4
                  .input-field
                    input(type="number", id="parallel", name="parallel", value=config.parallel)
                    label(for="parallel") Parallels requests
                .col.s4
                  .input-field
                    input(type="number", id="timeout", name="timeout", value=config.timeout)
                    label(for="timeout") Request timeout
              .row
                .col.s4(style="margin-top: 25px;")
                  label
                    input(type="checkbox", id="export", name="export" config.export ? checked="true")
                    span Export CSV
                .col.s4(style="margin-top: 25px;")
                  label
                    input(type="checkbox", id="use_proxy", name="use_proxy")
                    span Try to use proxy
              .row
                .col.s12
                  h4 Data to grab
                  hr
                  table.striped
                    thead
                      tr
                        th jQuery selector rules
                    tbody#rules
              .row
                .col.s12(style='margin-top: 1em')
                  button#add-rule.btn.right(type='button')
                    i.material-icons add
        .card-action
          button.btn(href="#") Launch

  script
    :coffee-script
      nbRule = 0
      $('#add-rule').click ->
        ruleLine = $("<tr>")
        ruleCell = $("<td>", {
          style: "padding: 2px 5px;"
        })
        ruleInput = $("<input>", {
          id:"rule-#{nbRule}"
          name: "rule-#{nbRule}",
          style: "margin-bottom: 0px;"
        })
        ruleCell.append ruleInput
        ruleLine.append ruleCell
        $("#rules").append ruleLine
        nbRule += 1;
